footer{
    background-color: #057d13;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
a{
    margin-left:100px;
    color:black;
}
a:hover{
    color: white;
}

.thead{
    background-color:#057d13;
}
div.container-xl{
    margin-top:50px; 
}
div.container-sm{
    margin-top:100px;  
}
a.add{
    margin-bottom:30px;
}